@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    // overflow-y:hidden;  /*для вертикального*/
}



@media (orientation: landscape) {
    .layoutWrapper {
        display: flex;
        justify-content: center;
        .allCardWrapper {
            margin-top: 96px;
            width: 1725px;
            height: 572px;
            background-color: #eaeaea;
            border-radius: 25px;
            border: solid 1px black;
            padding: 1px;
            // background-color: red;
            p {
                font-size: 24px;
                line-height: 32.69px;
                font-weight: 400;
                font-weight: 700;
            }
            .inputClass {
                padding-top: 25px;
                width: 225px;
                height: 100px;
            }
            .card {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 89px;
                .cardWrapper {
                    display: flex;
                    flex-direction: column;
                    width: 1725px;
                    .cardHeader {
                        display: flex;
                        width: 1725px;
                        height: 49px;
                        // flex-direction: row;
                        // background-color: blue;
                        .photoheader {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 124px;
                            height: 46px;
                            border: 1px solid white;
                            background: linear-gradient(#13563a, #35b661);
                            p {
                                color: white;
                                font-size: 18px;
                                line-height: 24.52px;
                                font-weight: 400;
                            }
                        }
                        .addressHeader {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 582px;
                            height: 46px;
                            border: 1px solid white;
                            background: linear-gradient(#13563a, #35b661);
                            p {
                                color: white;
                                font-size: 18px;
                                line-height: 24.52px;
                                font-weight: 400;
                            }
                        }
                        .description {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 746px;
                            height: 46px;
                            border: 1px solid white;
                            background: linear-gradient(#13563a, #35b661);
                            p {
                                color: white;
                                font-size: 18px;
                                line-height: 24.52px;
                                font-weight: 400;
                            }
                        }
                        .descriptionAuth {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 478px;
                            height: 46px;
                            border: 1px solid white;
                            background: linear-gradient(#13563a, #35b661);
                            p {
                                color: white;
                                font-size: 18px;
                                line-height: 24.52px;
                                font-weight: 400;
                            }
                        }
                        .verifyPhoto {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 272px;
                            height: 46px;
                            border: 1px solid white;
                            background: linear-gradient(#13563a, #35b661);
                            p {
                                color: white;
                                font-size: 18px;
                                line-height: 24.52px;
                                font-weight: 400;
                            }
                        }
                        .btn {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 272px;
                            height: 46px;
                            border: 1px solid white;
                            background: linear-gradient(#13563a, #35b661);
                            p {
                                color: white;
                                font-size: 18px;
                                line-height: 24.52px;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
    }
}



@media (orientation: landscape) {
    .cardImg {
        display: flex;
        flex-direction: row;
        img {
            margin-top: 1px;
            margin-left: 1px;
            margin-right: 1px;
            width: 123px;
            height: 123px;
            // background-color: red;
        }
        .addressAuth {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 582px;
            height: 123px;
            background-color: #d9d9d9;
            border: 1px solid #ffff;
            p {
                font-size: 18px;
                line-height: 24.52px;
                font-weight: 400;
                color: black;
            }
        }
        .address {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 582px;
            height: 123px;
            background-color: #d9d9d9;
            border: 1px solid #ffff;
            p {
                font-size: 18px;
                line-height: 24.52px;
                font-weight: 400;
                color: black;
            }
        }
        .comment {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 746px;
            height: 123px;
            background-color: #d9d9d9;
            border: 1px solid #ffff;
            p {
                font-size: 18px;
                line-height: 24.52px;
                font-weight: 400;
                color: black;
            }
        }
        .commentAuth {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 477px;
            height: 123px;
            background-color: #d9d9d9;
            border: 1px solid #ffff;
            p {
                font-size: 18px;
                line-height: 24.52px;
                font-weight: 400;
                color: black;
            }
        }
        .verify {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 271px;
            height: 123px;
            background-color: #d9d9d9;
            border: 1px solid #ffff;
        }
        .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 271px;
            height: 123px;   
            background-color: #d9d9d9;
            border: 1px solid #ffff;
            img {
                width: 196px;
                height: 41px;
                border-radius: 50px;
                gap: 10px;
                background: linear-gradient(#13563a, #35b661);
                border: none;
                cursor: pointer;
                color: white;
                font-size: 18px;
                line-height: 24.52px;
                font-weight: 400;
            }
        }
        .btnAuth {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 271px;
            height: 123px;
            background-color: #d9d9d9;
            border: 1px solid #ffff;
            button {
                width: 196px;
                height: 41px;
                border-radius: 50px;
                gap: 10px;
                background: linear-gradient(#13563a, #35b661);
                border: none;
                cursor: pointer;
                color: white;
                font-size: 18px;
                line-height: 24.52px;
                font-weight: 400;
            }
        }
    }
}

@media (orientation: portrait) {
    .cardImg {
        display: flex;
        // flex-direction: row;
        // width: 100vw;
        // justify-content: space-around;
        background-color: #d9d9d9;
        // background-color: red;
        .img {
            width: 126px;
            height: 123px;
            // background-color: red;
        }
        .imgAuth {
            width: 88px;
            height: 123px;
        }
        .addressAuth {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 77px; /* Измените ширину и другие стили по необходимости */
            height: 123px; /* Измените высоту и другие стили по необходимости */
            background-color: #d9d9d9;
            border: 1px solid #ffff;
            p{
                font-size: 10px;
            }
        }
        .address {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 113px; /* Измените ширину и другие стили по необходимости */
            height: 123px; /* Измените высоту и другие стили по необходимости */
            background-color: #d9d9d9;
            border: 1px solid #ffff;
            p{
                font-size: 10px;
            }
        }
        .verify {
            .verImg {
                width: 74px;
                height: 123px;
            }
        }
        .commentAuth {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 68px; /* Измените ширину и другие стили по необходимости */
            height: 123px; /* Измените высоту и другие стили по необходимости */
            background-color: #d9d9d9;
            border: 1px solid #ffff;
            p{
                font-size: 10px;
            }
        }
        .comment {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 88px; /* Измените ширину и другие стили по необходимости */
            height: 123px; /* Измените высоту и другие стили по необходимости */
            background-color: #d9d9d9;
            border: 1px solid #ffff;
        }
        .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 69px; /* Измените ширину и другие стили по необходимости */
            height: 123px; /* Измените высоту и другие стили по необходимости */
            // background-color: #d9d9d9;
            // border: 1px solid #ffff;
        }
        .btnAuth {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 99px; /* Измените ширину и другие стили по необходимости */
            height: 123px; /* Измените высоту и другие стили по необходимости */
            // background-color: #d9d9d9;
            // border: 1px solid #ffff;
        }
        .btn button {
            margin-top: 20px;
            width: 50px;
            height: 80px;
            border-radius: 50px;
            gap: 10px;
            background: linear-gradient(#13563a, #35b661);
            border: none;
            cursor: pointer;
            color: white;
            font-size: 10px;
            line-height: 24.52px;
            font-weight: 400;
        }
    }
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    // background-color: red;
    .formWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 662px;
        height: 579px;
        background-color: #eaeaea;
        border-radius: 24px;
        // background-color: blue;
        .chose2 {
            margin-top: 50px;
            white-space: nowrap;
            background-color: #eaeaea;
            border: solid 1px black;
        }

        .chose {
            text-align: center;
            padding: 1% 10%;
            color: #1e352f;
            font-size: clamp(20px, 2vw, 20px);
            font-family: Montserratarm, sans-serif;
            word-wrap: break-word;
            border-radius: 10vw;
        }

        /* Скрываем кнопку обзор */
        .chose input[type="file"] {
            display: none;
        }
        button {
            width: 181px;
            height: 41px;
            background: linear-gradient(#13563a, #35b661);
            border-radius: 50px;
            border: none;
            color: white;
            font-size: 18px;
            line-height: 24.52px;
            font-weight: 400;
            margin-top: 30px;
            cursor: pointer;
        }
        .formTitle {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 662px;
            height: 100px;
            // background-color: aqua;
            p {
                font-size: 32px;
                line-height: 43.58px;
                font-weight: 700;
            }
        }
        .other {
            display: flex;
            flex-direction: column;
            height: 266px;
            width: 582px;
            // background-color: blueviolet;
            .addressForm {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 582px;
                height: 86px;
                // background-color: white;
                p {
                    font-size: 18px;
                    line-height: 24.52px;
                    font-weight: 700;
                    margin-bottom: 10px;
                }
                input {
                    width: 532px;
                    height: 19px;
                    margin-left: 7px;
                    border-radius: 50px;
                    border: 0.5px solid black;
                    padding: 12px 16px 12px 16px;
                }
            }
            .comForm {
                display: flex;
                flex-direction: column;
                width: 582px;
                height: 158px;
                justify-content: center;
                margin-top: 32px;
                // background-color: brown;
                p {
                    font-size: 18px;
                    line-height: 24.52px;
                    font-weight: 700;
                    margin-bottom: 10px;
                }
                input {
                    width: 532px;
                    height: 101px;
                    margin-left: 7px;
                    border-radius: 24px;
                    gap: 10px;
                    border: 0.5px solid black;
                    padding: 12px 16px 12px 16px;
                }
            }
        }
    }
}
