@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 116px;
    // background-color: red;
    .logoHeader {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 10px;
        img {
            height: 48px;
            width: 48px;
        }
        p {
            font-weight: 300;
            font-size: 20px;
            color: #35b661;
        }
    }
    .headerBtns {
        display: flex;
        flex-direction: row;
        width: 398px;
        gap: 24px;
        height: 41px;
        margin-left: 631px;
        // background-color: red;
        .firstBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            width: 196px;
            height: 41px;
            // background-color: aqua;
            button {
                padding: 8px 16px 8px 16px;
                border-radius: 50px;
                width: 196px;
                height: 41px;
                border: none;
                background: linear-gradient(#13563a, #35b661);
                color: white;
                cursor: pointer;
                font-size: 18px;
                line-height: 24.52px;
                font-weight: 400;
            }
        }
        .secondBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            width: 178px;
            height: 41px;
            // background-color: blueviolet;
            button {
                padding: 8px 16px 8px 16px;
                border-radius: 50px;
                width: 196px;
                height: 41px;
                border: 1px solid black;
                color: black;
                cursor: pointer;
                font-size: 18px;
                line-height: 24.52px;
                font-weight: 400;
            }
        }
    }
    .rightSide {
        display: flex;
        width: 307px;
        height: 32px;
        // background-color: red;
        margin-left: 485px;
        gap: 32px;
        .adress {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 115px;
            height: 32px;
            gap: 12px;
            cursor: pointer;
            // background-color: blue;
            img {
                width: 32px;
                height: 32px;
                gap: 4px;
            }
            p {
                font-size: 18px;
                line-height: 24.52px;
                font-weight: 400;
            }
        }
        .noDecor{
            text-decoration: none;
            color: inherit;
        }
        .noDecor:hover{
            text-decoration: none;
        }
        .profile {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 160px;
            height: 32px;
            gap: 12px;
            cursor: pointer;
            // background-color: blue;
            img {
                width: 32px;
                height: 32px;
                gap: 4px;
            }
            p {
                font-size: 18px;
                line-height: 24.52px;
                font-weight: 400;
            }
        }
    }
}
.layoutWrapper {
    display: flex;
    justify-content: center;
    .allCardWrapper {
        margin-top: 96px;
        width: 1725px;
        height: 572px;
        // background-color: red;
        p {
            font-size: 24px;
            line-height: 32.69px;
            font-weight: 400;
            font-weight: 700;
        }
        .card {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 89px;
            .cardWrapper {
                display: flex;
                flex-direction: column;
                width: 1725px;
                .cardHeader {
                    display: flex;
                    width: 1725px;
                    height: 49px;
                    // background-color: blue;
                    .photoheader {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 124px;
                        height: 46px;
                        border: 1px solid white;
                        background: linear-gradient(#13563a, #35b661);
                        p {
                            color: white;
                            font-size: 18px;
                            line-height: 24.52px;
                            font-weight: 400;
                        }
                    }
                    .addressHeader {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 582px;
                        height: 46px;
                        border: 1px solid white;
                        background: linear-gradient(#13563a, #35b661);
                        p {
                            color: white;
                            font-size: 18px;
                            line-height: 24.52px;
                            font-weight: 400;
                        }
                    }
                    .description {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 746px;
                        height: 46px;
                        border: 1px solid white;
                        background: linear-gradient(#13563a, #35b661);
                        p {
                            color: white;
                            font-size: 18px;
                            line-height: 24.52px;
                            font-weight: 400;
                        }
                    }
                    .descriptionAuth{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 478px;
                        height: 46px;
                        border: 1px solid white;
                        background: linear-gradient(#13563a, #35b661);
                        p {
                            color: white;
                            font-size: 18px;
                            line-height: 24.52px;
                            font-weight: 400;
                        }
                    }
                    .verifyPhoto{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 272px;
                        height: 46px;
                        border: 1px solid white;
                        background: linear-gradient(#13563a, #35b661);
                        p {
                            color: white;
                            font-size: 18px;
                            line-height: 24.52px;
                            font-weight: 400;
                        }
                    }
                    .btn {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 272px;
                        height: 46px;
                        border: 1px solid white;
                        background: linear-gradient(#13563a, #35b661);
                        p {
                            color: white;
                            font-size: 18px;
                            line-height: 24.52px;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
}

.cardImg {
    display: flex;
    flex-direction: row;
    img {
        margin-top: 1px;
        margin-left: 1px;
        margin-right: 1px;
        width: 123px;
        height: 123px;
    }
    .address {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 582px;
        height: 123px;
        background-color: #d9d9d9;
        border: 1px solid #ffff;
        p {
            font-size: 18px;
            line-height: 24.52px;
            font-weight: 400;
            color: black;
        }
    }
    .comment{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 746px;
        height: 123px;
        background-color: #d9d9d9;
        border: 1px solid #ffff;
        p {
            font-size: 18px;
            line-height: 24.52px;
            font-weight: 400;
            color: black;
        }
    }
    .commentAuth {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 477px;
        height: 123px;
        background-color: #d9d9d9;
        border: 1px solid #ffff;
        p {
            font-size: 18px;
            line-height: 24.52px;
            font-weight: 400;
            color: black;
        }
    }
    .verify{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 271px;
        height: 123px;
        background-color: #d9d9d9;
        border: 1px solid #ffff;
    }
    .btn{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 271px;
        height: 123px;
        background-color: #d9d9d9;
        border: 1px solid #ffff;
        button{
            width: 196px;
            height: 41px;
            border-radius: 50px;
            gap: 10px;
            background: linear-gradient(#13563a, #35b661);
            border: none;
            cursor: pointer;
            color: white;
            font-size: 18px;
            line-height: 24.52px;
            font-weight: 400;
        }
    }
}

